{% extends "main.html" %}
{% block content %}
{% load static %}


<div class="container mt-5">
    <div class="row">
        <div class="col-xl-4">
            <a href="{% url 'check-records' %}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="mt-3 d-flex justify-content-center">
                        <img src="{% static 'icon/check-records.png' %}" alt="check-records.png" height="80px">
                    </div>
                    <div class="mt-3 card-body d-flex justify-content-center">
                        <h3 class="font-weight-bold text-dark text-uppercase">Check Records</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4">
            <a href="{% url 'add-authority' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mt-3 d-flex justify-content-center">
                    <img src="{% static 'icon/add.png' %}" alt="add authority.png" height="80px">
                </div>
                <div class="mt-3 card-body d-flex justify-content-center">
                    <h3 class="font-weight-bold text-dark text-uppercase">Add Authority</h3>
                </div>
            </div>
        </a>
        </div>
        <div class="col-xl-4">
            <a href="{% url 'check-authority' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mt-3 d-flex justify-content-center">
                    <img src="{% static 'icon/check-authority.png' %}" alt="check-authority.png" height="80px">
                </div>
                <div class="mt-3 card-body d-flex justify-content-center">
                    <h3 class="font-weight-bold text-dark text-uppercase">Check Authority</h3>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="mt-4 row">
        <div class="col-xl-4">
            <a href="{% url 'add-user' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mt-3 d-flex justify-content-center">
                    <img src="{% static 'icon/add-user.png' %}" alt="add-user.png" height="80px">
                </div>
                <div class="mt-3 card-body d-flex justify-content-center">
                    <h3 class="font-weight-bold text-dark text-uppercase">Add User</h3>
                </div>
            </div>
        </a>
        </div>
        <div class="col-xl-4">
            <a href="{% url 'view-user' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mt-3 d-flex justify-content-center">
                    <img src="{% static 'icon/view-user.png' %}" alt="view-user.png" height="80px">
                </div>
                <div class="mt-3 card-body d-flex justify-content-center">
                    <h3 class="font-weight-bold text-dark text-uppercase">View User</h3>
                </div>
            </div>
        </a>
        </div>
        <div class="col-xl-4">
            <a href="{% url 'delete-user' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mt-3 d-flex justify-content-center">
                    <img src="{% static 'icon/delete-user.png' %}" alt="delete-user.png" height="80px">
                </div>
                <div class="mt-3 card-body d-flex justify-content-center">
                    <h3 class="font-weight-bold text-dark text-uppercase">Delete User</h3>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>


{% endblock %}