{% extends "user-main.html" %}
{% block content %}
{% load static %}

{{all_entries.auth}}
<div class="container" style="width: 50%;">
    <table class="mt-3 table table-success table-hover table-striped-columns text-center">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Number Plate</th>
                <th>Auth</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% if all_entries %}
            {% for data in all_entries %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ data.numPlate }}</td>
              <td>{{ data.auth }}</td>
              <td>{{ data.dateAndTime }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="4" class="text-center text-danger">No Record Found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}