{% extends "user-main.html" %}
{% block content %}
{% load static %}

<div class="container">


    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row mt-4">
        <div class="col-6">
            <a  href="{% url 'opencamera' %}" class="text-black">
                <div class="card shadow h-100 py-2" style="border-color:black;  border-width: 2px;">
                    <center>
                        <img src="{% static 'icon/cctv-camera.png' %}" class="mt-3" alt="camera.png"
                            style="width: 100px;">
                        <h1 class="text-center mt-3 mb-3">OPEN CAMERA </h1>
                    </center>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'check-user-records' %}" class="text-black">
                <div class="card shadow h-100 py-2 " style="border-color:black;  border-width: 2px;">
                    <center>
                        <img src="{% static 'icon/frequency.png' %}" class="mt-3" alt="records.png"
                            style="width: 100px;">
                        <h1 class="text-center mt-3 mb-3">CHECK RECORDS</h1>
                    </center>
                </div>
            </a>
        </div>
    </div>
</div>


<script>

    function runCam() {
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    }
</script>

{% endblock %}